[worldserver]

###############################################################################
# AUCTION HOUSE BOT SETTINGS
#
#    AuctionHouseBot.DEBUG
#        Enable/Disable Debugging output
#    Default 0 (disabled)
#
#    AuctionHouseBot.DEBUG_FILTERS
#        Enable/Disable Debugging output from Filters
#    Default 0 (disabled)
#
#    AuctionHouseBot.EnableSeller
#        Enable/Disable the part of AHBot that puts items up for auction
#    Default 0 (disabled)
#
#    AuctionHouseBot.EnableBuyer
#        Enable/Disable the part of AHBot that buys items from players
#    Default 0 (disabled)
#
#    AuctionHouseBot.UseBuyPriceForSeller
#        Should the Seller use BuyPrice or SellPrice to determine Bid Prices
#    Default 0 (use SellPrice)
#
#    AuctionHouseBot.UseBuyPriceForBuyer
#        Should the Buyer use BuyPrice or SellPrice to determine Bid Prices
#    Default 0 (use SellPrice)
#
#    Auction House Bot character data
#        AuctionHouseBot.Account is the account number
#         (in realmd->account table) of the player you want to run
#         as the auction bot.
#        AuctionHouseBot.GUID is the GUID (in characters->characters table)
#         of the player you want to run as the auction bot.
#    Default: 0 (Auction House Bot disabled)
#
#    AuctionHouseBot.ItemsPerCycle
#        Number of Items to Add/Remove from the AH during mass operations
#    Default 200
#
###############################################################################

AuctionHouseBot.DEBUG = 0
AuctionHouseBot.DEBUG_FILTERS = 0
AuctionHouseBot.EnableSeller = 0
AuctionHouseBot.EnableBuyer = 0
AuctionHouseBot.UseBuyPriceForSeller = 0
AuctionHouseBot.UseBuyPriceForBuyer = 0
AuctionHouseBot.Account = 0
AuctionHouseBot.GUID = 0
AuctionHouseBot.ItemsPerCycle = 1000
